{% extends 'base.html' %}

{% block content %}
    {{ super() }}

    <head>
        <title>{{ title }}</title>
    </head>

    <h2>Изменить пароль</h2>

    <form method="POST">
        <label for="new_password">Новый пароль:</label>
        <input type="password" id="new_password" name="new_password" required>

        <label for="new_password_confirmation">Подтвердите новый пароль:</label>
        <input type="password" id="new_password_confirmation" name="new_password_confirmation" required>

        <label for="old_password">Старый пароль:</label>
        <input type="password" id="old_password" name="old_password" required>

        <button type="submit">Сохранить</button>
    </form>

{% endblock %}